html,head{font-family: 'PT Serif', serif;}

header{text-align: center;
font-size: 0.7em;
color: darkcyan;
}

.sottotitolo{
  background-color: rgb(223, 213, 180); 
  border-top: solid;
  border-top-width: 1px;
  border-color: rgb(221, 146, 7);
  
}

.container{ width:750px;
margin:0 auto ;}

h1{
  font-size: 2.0em;
  text-align: center;

}

figure img{
  border-radius: 2%;
box-shadow: 2px 2px 2px rgb(0, 0, 0 ) ;


}

.Parag1{
font-size: 1.1em; 

}

figcaption{
  text-align: center;
  color: darkgrey;

}

.parag2{ color: rgb(231, 76, 4);
font-size: 1.3em;}

nav{font-size: 1.2em;
color: rgb(34, 154, 184);
margin-bottom: 40px;}

.parag3{ font-size: 1.5em;}

li{font-size: 1.1em;}

strong{font-size: 1.3em;}

.footer{font-size: 1.2em;}